.card
  .card-section.Bookmark
    %h3.title.is-4
      = link_to bookmark.title, bookmark_path(bookmark)
    %p= bookmark.description
    %hr
    %p= bookmark.created_at
    .bookmarkFields
      - bookmark.tag_names.each do |tag_name|
        .label.secondary= tag_name
