
.grid-container
  .grid-x.grid-margin-x
    .cell
      %h2 Archived Bookmarks
    - if @bookmarks.present?
      .cell
        = render @bookmarks
    - else
      .cell
        Nothing to see here
