.grid-container
  .grid-x.grid-margin-x
    .cell
      = render 'quickadd_form'
    - if @bookmarks.present?
      .cell
        = render @bookmarks
    - else
      .cell
        You haven't addad anything yet.
