.level
  %h2.title.is-1 Find something
.level
  = form_tag(controller: 'bookmarks', action: 'filtered', method: 'post') do
    %span Give me a
    .select
      = select_tag 'media_type', options_from_collection_for_select(MediaType.all, 'id', 'name')
    %span with the topic
    .select
      = select_tag 'field', options_from_collection_for_select(@fields, "id", "name") 
    = submit_tag 'Search', class: 'button is-link'


