.bookmark {
  margin-bottom: 2rem;
  box-shadow: none;

  &:last-of-type {
    margin-bottom: 0;
  }

  .bookmark__head {
    margin-bottom: 0.5rem;
  }

  .bookmark__title {
    font-size: 1.1rem;
    font-weight: 600;

    > a {
      color: $black;
    }
  }

  .bookmark__description {
    font-family: $text-font;
  }

  .bookmark__meta {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 0.5rem;
  }

  .bookmark__tags {
    margin-top: 1rem;
  }
}
