// Colors
$black: hsl(200, 31%, 14%);
$dark-grey: hsl(200, 25%, 88%);
$mid-grey: hsl(200, 25%, 94%);
$light-grey: hsl(200, 33%, 96%);
$accent-color: #22bab3;

// Fonts
$primary-font: "Lato", sans-serif;
$text-font: 'Bitter', serif;

// Borders
$border-radius: 4px;
